        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: ffa765;
        }
        header {
            background-color: ffa765;
            color: ffa765;
            padding: 20px 0;
            text-align: center;
        }
        nav {
            background-color: #444;
            padding: 10px 0;
            text-align: center;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            padding: 20px;
        }

@font-face {
  font-family: 'Visibly Round';
  src: url() format('woff2'),
       url('path/to/visibly-round.woff') format('woff');
  /* Add additional font formats if needed */
}
        
        h1 {
            font-family: 'Visibly Round', sans-serif;
            text-align: center;
            text-
            color: #ff903d;
        }
        p {
            text-align: center;
            color: #555;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
